apiVersion: apps/v1
kind: Deployment
metadata:
  name: bluegreen-blue
  labels:
    app: bluegreen-demo
spec:
  replicas: 3
  selector:
    matchLabels:
      app: bluegreen-demo
      environment: blue
  template:
    metadata:
      labels:
        app: bluegreen-demo
        environment: blue
        version: v1
    spec:
      containers:
      - name: nginx-hello
        image: nginxdemos/hello:latest
        command:
        - sh
        args:
        - -c
        - rm -rf /etc/nginx/conf.d/hello.conf && nginx -g 'daemon off'\;
        ports:
        - containerPort: 80
          name: http
        env:
        - name: DEPLOYMENT_TYPE
          value: "Blue Environment"
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            cpu: 200m
            memory: 128Mi
        volumeMounts:
        - name: nginx-config
          mountPath: /etc/nginx/conf.d/default.conf
          subPath: default.conf
      volumes:
      - name: nginx-config
        configMap:
          name: nginx-config
